<html>
<head>
  <title>Clientjs Test</title>
  <script src="static/client.min.js"></script>
</head>

<body>
    <center>
    <H1>Testing Clientjs and JSON</h1>

	<script>
		
		

	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
	<script type="text/javascript">

		// The next 2 lines are used for geo-location stuff
		var os = "";
		var ua = navigator.userAgent;
		
		// setup some JSON to use for capturing data to pass back to python
		// no idea why I have to set this up as an array of key value pairs. 
		// when I try without the [] it fails in the python script
		var thisuser_json = [ {
				"username" 		: "undefined",
				"fingerprint" 	: "undefined",
				"mydevice" 		: "undefined",
				"mydevicetype" 	: "undefined",
				"mydevicevendor": "undefined",
				"opsys"			: "undefined",
				"opsysversion"	: "undefined",
				"browser" 		: "undefined",
				"browserversion": "undefined",
				"mylongitude"	: "0",
				"mylatitude"	: "0",
			}, ];
		
		//
		// Grab the client fingerprint
		//
		var client = new ClientJS(); // Create A New Client Object
		
		document.write( "my unique finger print is = ", client.getFingerprint(),"<br>" );
		
		//
		// Grab the device information
		//

		if (client.getDevice())			thisuser_json[0]["mydevice"] 		= client.getDevice();
		if (client.getDeviceType()) 	thisuser_json[0]["mydevicetype"] 	= client.getDeviceType();
		if (client.getDeviceVendor())	thisuser_json[0]["mydevicevendor"] 	= client.getDeviceVendor();
		if (client.isJava())			thisuser_json[0]["mydevicetype"] 	= "Java " + client.getJavaVersion(); 
		if (client.getBrowser()) 		thisuser_json[0]["browser"] 		= client.getBrowser();
		if (client.getBrowserVersion()) thisuser_json[0]["browserversion"] 	= client.getBrowserVersion();
		if (client.getFingerprint()) 	thisuser_json[0]["fingerprint"] 	= client.getFingerprint().toString();
		if (client.getOS())				thisuser_json[0]["opsys"] 			= client.getOS();
		// The getOSVersion call hangs - so I'm leaving it out for now
		//	if (client.getOSVersion()) 		thisuser_json[0]["opsysversion"] 	= client.getOSversion();


		if (client.isMobile())
		{
			if (client.isMobileAndroid())
			{
				thisuser_json[0]["mydevicetype"] = "Android";
			} 
			else
			if (client.isMobileIOS())
			{
				thisuser_json[0]["mydevicetype"] = "IOS";
			}
			else
			{
				thisuser_json[0]["mydevicetype"] = "Unknown Mobile Device";
			}
		}
		else
		{
			if (client.isJava())
			{ 
				thisuser_json[0]["mydevicetype"] = "Java " + client.getJavaVersion(); // Get Java Version
			}
			else
			{
				thisuser_json[0]["mydevicetype"] = "No Java Installed...";
			}
		}



		//
		// Form to grab username (register page only)
		//
		thisuser_json[0]["username"] = "Phil Davidson";


		document.write("Done the useragent assignment<br>");
		document.write("UserAgent contains [ ", ua, " ]<br><br>");

		// I'm not actually doing anything with this defintion of os (yet)
		if ((ua.match(/iPad/i)) || (ua.match(/iPhone/i)) || (ua.match(/iPod/i)))
		{
    		os = "iOS";
    	} 
		else
		if (ua.match(/Android/i))
		{
        	os = "Android";
    	}
		else
		if (ua.match(/Windows/i))
		{
        	os = "Windows";   
    	}
		else
		if ((ua.match(/Blackberry/i)) || (ua.match(/BB/i)) || (ua.match(/RIM/)))
		{
        	os = "Blackberry";
      	}
		else
		{
          os = "Unknown";
    	}
	
		document.write("<br>The Operating System has been identified as being - ", os, "<br><br>");

		// https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation
		// https://stackoverflow.com/questions/2577305/get-gps-location-from-the-web-browser3
		
		if ("geolocation" in navigator)
		{
			/* geolocation is available */
			document.write("Geolocation supported - finding you on the map<br>");
			navigator.geolocation.getCurrentPosition(myposition)
		}
		else
		{
  			/* geolocation IS NOT available */
			document.write("Sorry geolocation is not supported by your browser<br>"); 
		}

		function myposition(location)
		{
			thisuser_json[0]["mylongitude"]	= location.coords.latitude;
			thisuser_json[0]["mylatitude"]	= location.coords.longitude;

			// document.write("< ", location.coords.latitude, " >");
			// document.write("< ", location.coords.longitude, " >");
			// document.write("< ", location.coords.accuracy, " >");
		}

		window.onload = function()
		{
			// setup the button click
			document.getElementById("theButton").onclick = function() {
				doWork();
			};
		}

		function doWork()
		{
			// ajax the JSON to the server
			axios.post("/receiver", thisuser_json)
				.then(function(response) {
					// reponse back from server
					// alert("response.data");
					document.write("All Done!!!")
				});
		}
	</script>

	This will send user data using AJAX to Python:<br /><br />
	<a href="#" id="theButton">Click Me</a>